* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   font-family: "Poppins", sans-serif;
   scroll-behavior: smooth;
   list-style: none;
   text-decoration: none;
   
}

:root {
   --main-color: rgba(43, 255, 0, 0.61);
   --text-color: #fff;
   --bg-color: #000000;
   --big-font: 5rem;
   --h2-font: 2.25rem;
   --p-font: 0.9rem;
}

*::selection {
   background: var(--main-color);
   color: #fff;
}

body {
   color: var(--text-color);
   background: var(--bg-color);
}

header {
   position: fixed;
   top: 0;
   right: 0;
   width: 100%;
   z-index: 1000;
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 30px 170px;
   background: var(--bg-color);

}

.logo {
   color: var(--main-color);
   font-weight: 600;
   font-size: 2.4rem;
   width: 170px;
   margin-left: 100px;
}

.navbar {
   display: contents;
}

.navbar a {
   color: var(--text-color);
   font-size: 1.1rem;
   padding: 10px 20px;
   font-weight: 500;
 
}

header > #menu {
   background-color: white;

   opacity: 100%;
   position: absolute;
   right: 0;
   top: 0;
   bottom: 0;
   height: 20vh;
   min-height: 150px;
   max-height: 150px;
   width: -webkit-fill-available;
   transform: translateX(100%);
   transition: 0.3s;
   text-align: center;
   border-radius: 0;
   padding-top: 15px;
   margin-top: 120px;
}


header > #menu.active {
   transform: translateX(0);
      
}

#menu a {
  color: black;
  font-size: 20px; 
  
}

.navbar a:hover {
   color: var(--main-color);
   transition: 0.4s;
}

#menu-icon {
   font-size: 2rem;
   cursor: pointer;
   display: none;
}



section {
   padding: 70px 17%;
}

.section2 {
   padding-top: 200px;
   padding-bottom: 200px;
}

.home {
   width: 100%;
   min-height: 130vh;
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   grid-gap: 1.5rem;
   align-items: center;
}

.home-img img {
   max-width: 100%;
   width: 500px;
   height: auto;
}

.home-text h1 {
   font-size: var(--big-font);
   color: var(--main-color);
}

.home-text h2 {
   font-size: var(--h2-font);

   margin: 1rem 0 2rem;
}

.btn {
   display: inline-block;
   padding: 10px 20px;
   background-color: var(--main-color);
   color: #fff;
   border-radius: 20px;
  
}

.btnlar {
   display: flex;
   align-items: center;
   justify-content: center;
   margin-bottom: 100px;
   padding-left: 400px;
   padding-right: 400px;
   padding-top: 210px;
}


.btn1 {
   min-height: 10vh;
   display: flex;
   align-items: center;
   padding-right: 20px;
}

.btn2 {
   min-height: 10vh;
   display: flex;
   align-items: center;
   padding-right: 20px;
}

.btn3 {
   min-height: 10vh;
   display: flex;
   align-items: center;
   padding-right: 20px;

}

.btn4 {
   min-height: 10vh;
   display: flex;
   align-items: center;
   padding-right: 20px;
}

.mappa {
   width: 500px;
   height: 350px;
   border-radius: 50px;
}

.rivoli {
   color: red;
}

.btn:hover {
   transform: scale(1.2) translateZ(15px);
   transition: 0.s;
}

.i-nostri-kebap {
   color: red;
}

.about {
   display: grid;
   grid-template-columns: repeat(2, 2fr);
   grid-gap: 1.5rem;
   align-items: center;
}

.about-img img {
   max-width: 100%;
   width: 480px;
   height: auto;
   border: solid;
   border-color: var(--main-color);
   border-style: dashed;
   border-radius: 500px;
}

.about-text span {
   color: var(--main-color);
   font-weight: 600;
}

.about-text h2 {
   font-size: var(--h2-font);
}

.about-text p {
   margin: 0.8rem 0 1.8rem;
   line-height: 1.7;
}


.dovesiamo {
   display: grid;
   grid-template-columns: repeat(2, 2fr);
   grid-gap: 1.5rem;
   align-items: center;
   padding-top: 200px;
   padding-bottom: 200px;
}

.dovesiamo-text {
   text-align: center;
}

.dovesiamo-img {
   max-width: 100%;
   width: 480px;
   height: auto;
   
}

.dovesiamo-text span {
   color: var(--main-color);
   font-weight: 600;
}

.dovesiamo-text h2 {
   font-size: var(--h2-font);
}

.dovesiamo-text p {
   margin: 0.8rem 0 1.8rem;
   line-height: 1.7;
}


.heading {
   text-align: center;
   padding-top: 60px;
}

.heading span {
   color: var(--main-color);
   font-weight: 600;
}

.heading h2 {
   font-size: var(--h2-font);
}

.menu-container {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(220px, auto));
   grid-gap: 1.5rem;
   align-items: center;
   justify-content: space-between;
}



.main {
   display: flex;
   flex-wrap: wrap;
}

.footer {
   padding: 10px 0;
}

.col {
   width: 25%;
}

.col h4 {
   font-size: 1.2rem;
   color: var(--text-color);
   margin-bottom: 25px;
   position: relative;
}

.col h4::before {
   content: "";
   position: absolute;
   height: 2px;
   width: 50px;
   left: 0;
   bottom: -8px;
   background-color: var(--main-color);
}

.home-text h1 {
   font-size: 4rem;
   color: var(--text-color);
   margin-bottom: 25px;
   position: relative;
}

.home-text h1::before {
   content: "";
   position: absolute;
   height: 2px;
   width: 300px;
   left: 0;
   bottom: -8px;
   background-color: var(--main-color);
}

.col ul li:not(:last-child) {
   margin-bottom: 15px;
}

.col ul li a {
   color: #9897a9;
   font-size: 1.1rem;
   display: block;
   text-transform: capitalize;
   transition: 0.4s;
}
.col ul li a:hover {
   color: var(--text-color);
   transform: translateX(-12px);
}

.col .social {
   width: 220px;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.col .social a {
   height: 40px;
   width: 40px;
   background-color: var(--main-color);
   color: var(--text-color);
   display: inline-flex;
   align-items: center;
   justify-content: center;
   font-size: 1.5rem;
   border-radius: 50%;
   transition: 0.4s;
}

.col .social a:hover {
   transform: scale(1.2);
   color: var(--bg-color);
   background-color: var(--text-color);
}


.details {
   padding-left: 30px;
   padding-right: 30px;
   display: block;
   max-width: 1200px;
   margin: 0 auto;
   transition: all 1s ease-in-out;
   background-size: auto;
}

.menuitems {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   box-sizing: border-box;
   -webkit-text-size-adjust: 100%;
}

.item {
   max-height: 100vh;
   flex: 0 0 40%;
   overflow: hidden;
   transition: all .5s ease-in-out;
   display: block;

}

.itemdetails {
   padding-top: 32px;
   padding-bottom: 32px;
   background: url(/img/separator.webp) no-repeat bottom;
}


.name {
   font-size: 25px;
   font-family: 'Rowdies', sans-serif;
}

.currency, .price {
   font-size: 18px;
   font-family: 'Rowdies', sans-serif;
   color: var(--main-color)
}

.baslik {
   font-size: 1.5em;
   font-weight: 700;
   text-align: center;
   max-height: 75vh;
   margin-bottom: 2em;

}

.baslikyazi {
   font-family: 'Dancing Script', cursive;
   font-size: 50px;
}


.baslik2 {
   font-size: 1.5em;
   font-weight: 700;
   text-align: center;
   max-height: 75vh;
   margin-bottom: 2em;
   margin-top: 10em;

}

.namerinforzo {
   font-size: 1.5em;
   font-weight: 500;
   text-align: center;
   padding-top: 150px;
   color: grey;
}

.menutest {
   padding-left: 20px;
}

.menulogo {
   width: 30%;
   margin-right: 200px;
}

.imgsettings:hover {
   transform: scale(1.4) rotate();
}

.redtext {
   color: red;
}


#menu-table {
   width: 100%;
   margin: 20px auto;
   border-collapse: collapse;
   margin-top: 200px;
}

#menu-table th, #menu-table td {
   padding: 10px;
   text-align: left;
}

#menu-table th {
   background-color: #000000;
   color: #ff0000;
}

#menu-table td {
   border-bottom: 1px solid #ddd;
}

#menu-table td p {
   color: rgba(43, 255, 0, 0.61); 
}

#focacce-table {
   width: 100%;
   margin: 20px auto;
   border-collapse: collapse;
   margin-top: 200px;
}

#focacce-table th, #focacce-table td {
   padding: 10px;
   text-align: left;
}

#focacce-table th {
   background-color: #000000;
   color: #ff0000;
}

#focacce-table td {
   border-bottom: 1px solid #ddd;
}

#focacce-table td p {
   color: rgba(43, 255, 0, 0.61); 
}

#calzoni-table {
   width: 100%;
   margin: 20px auto;
   border-collapse: collapse;
   margin-top: 200px;
}

#calzoni-table th, #calzoni-table td {
   padding: 10px;
   text-align: left;
}

#calzoni-table th {
   background-color: #000000;
   color: #ff0000;
}

#calzoni-table td {
   border-bottom: 1px solid #ddd;
}

#calzoni-table td p {
   color: rgba(43, 255, 0, 0.61); 
}

#menu-icon .bx-x {
   display: none;
}

#menu-icon.active .bx-menu {
   display: none;
}

#menu-icon.active .bx-x {
   display: initial;
}

#menu-icon {
   font-size: 2rem;
   cursor: pointer;
}

#scrollToTopBtn {
   display: none;
   position: fixed;
   bottom: 20px;
   right: 20px;
   font-size: 16px;
   padding: 10px;
   background-color: var(--main-color);
   color: #fff;
   border: none;
   border-radius: 5px;
   cursor: pointer;
 }
 
 #scrollToTopBtn:hover {
   background-color: var(--main-color);
 }



@media (max-width: 1560px) {
   header {
      padding: 15px 40px;
   }
   :root {
      --big-font: 3.5rem;
      --h2-font: 2rem;
      --h1-font: 2rem;
   }
}

@media (max-width: 1140px) {
   section {
      padding: 50px 8%;
   }

   #menu-icon {
      display: initial;
      color: var(--text-color);
   }
   header .navbar {
      position: flex;
      top: 0;
      left: 0;
      right: 0;
      display: none;
      flex-direction: column;
      text-align: center;
      background: #2b2640;
      transition: 0.3s;
   }

   header .active {
      top: 70px;
   }
   .navbar a {
      padding: 5px;
      display: block;
   }
   .col {
      width: 50%;
      margin-bottom: 10px;
   }

   .about-text span {
      text-align: center;
      align-items: center;
   }

   .home-text h1::before {
      height: 2px;
      width: 260px;
      margin-left: 44px;
   }
}

@media (max-width: 720px) {
   header {
      padding: 10px 16px;
   }
   .logo {
      width: 155px;
      font-size: 30px;
      margin-left: 0px;
      padding-left: 10px;
   }
   .home {
      grid-template-columns: 350px;
      text-align: center;
   }
   .about {
      grid-template-columns: 1fr;
      text-align: center;
   }
   .about-img {
      order: 2;
   }
   section {
      padding: 100px 7%;
   }
   .home-text h1 {
      font-size: 40px;
   }
   .home-text h2 {
      font-size: 20px;
   }
   .about-text span {
      text-align: center;
   }

   .dovesiamo {
      display: block;
      padding-top: 50px;
      text-align: center;
   }

   .mappa {
      width: 330px;
      height: 350px;
      border-radius: 50px;

   }


   .btnlar {

      display: flex;
      align-items: center;
      justify-content: center;
      padding-left: 60px;
      padding-right: 60px;
      margin-bottom: 0;
      flex-wrap: wrap;
}



   .all-menu {
      grid-template-columns: repeat(auto-fit, minmax(150px, auto));
   }

   .home-text {
      padding-top: 50px;
   }

   .imgsettings {
      max-width: 100%;
   
   }

   .img {
      -webkit-transition-property: all; 
      -webkit-transition-duration: 0.3s; 
      -webkit-transition-timing-function: ease; 
      width: 100%;
      }
      
      .img:hover {
         transform: scale(1.2);
      }

   .name {
      font-size: 20px;
   }

   .desc {
      font-size: 14px;
   }
   
}

@media (max-width: 575px) {
   .col {
      width: 100%;
   }
}
body {    overflow-x: hidden;    position: relative;
}
html {    overflow-x: hidden;
}